<section class="benefits-wrapper">
  <h2 class="benefits-title">¿Por qué pasarte a Premium?</h2>
  <div class="benefits">
    <include src="./article-benefit.html" imagenSrc="./assets/images/benefit-1.png" altImagen="Descarga música"
      articleTitulo="Descarga música" articleText="Llévala siempre contigo"></include>
    <include src="./article-benefit.html" imagenSrc="./assets/images/benefit-2.png" altImagen="Sin anuncios"
      articleTitulo="Sin anuncios" articleText="Disfruta de música sin interrupciones"></include>
    <include src="./article-benefit.html" imagenSrc="./assets/images/benefit-3.png" altImagen="Escucha lo que quieras"
      articleTitulo="Escucha lo que quieras" articleText="Incluso en el móvil"></include>
    <include src="./article-benefit.html" imagenSrc="./assets/images/benefit-4.png"
      altImagen="Salta todas las canciones que quieras" articleTitulo="Salta todas las canciones que quieras"
      articleText="Simplemente dale a siguiente"></include>
  </div>
</section>